<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
    <form method="get">
        <label>Incident Type</label>
        <select name="incident_type">
            <option value="all">All</option>
            {% for incident_type in incident_type_list %}
            <option value="{{incident_type.pk}}" {% if incident_type.pk|stringformat:"s" == request.GET.incident_type %} selected {% endif %}>{{incident_type.name}}</option>
            {% endfor %}
        </select>

        <label>Incident Status</label>
        <select name="incident_status">
            <option value="all">All</option>
            {% for incident_status in incident_status_list %}
            <option value="{{incident_status.pk}}" {% if incident_status.pk|stringformat:"s" == request.GET.incident_status %} selected {% endif %}>{{incident_status.name}}</option>
            {% endfor %}
        </select>
        
        <button>Filter</button>
        <a href="/">Clear</a>
    </form>
    Crime Report
    <div id="map"></div>

<!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqN9JNrIqprBHDGRoEA2muI24LrFvmBfM&callback=initMap&v=weekly"
    defer
  ></script> -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqN9JNrIqprBHDGRoEA2muI24LrFvmBfM&callback=initMap&v=weekly" defer></script>

<script >
    let map;
    let jsonData = {{ data|safe }};  // Assuming data is JSON, use |safe to prevent auto-escaping
    function initMap() {
        
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 3,
            center: new google.maps.LatLng(2.8, -187.3),
            mapId: "9aec9a3a015f9e64",
        });


        if (typeof jsonData === 'object' && jsonData !== null) {
            for (var key in jsonData) {
                if (jsonData.hasOwnProperty(key)) {
                    var point = jsonData[key];
                    var latLng = new google.maps.LatLng(point.long, point.lat);
                    var infowindow = new google.maps.InfoWindow({
                        content: `
                        ${point.name}<br>
                        ${point.incident_type}<br>
                        ${point.date}<br>
                        ${point.incident_status}<br>
                        <a href="/incident/${key}" target="_blank" >View Details</a>
                        `
                    });
                    const marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                    });
                    marker.setMap(map);
                 
                    (function(marker, infowindow) {
                            google.maps.event.addListener(marker, 'click', function() {
                                infowindow.open(map, marker);
                            });
                        })(marker, infowindow);
                    }


            }
        } else {
            console.error("jsonData is not an object.");
        }};

                


    </script>
</body>
</html>
